.btn{
    background-color: var(--blue);
    color: var(--white);
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    border: 2px solid var(--blue);
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
}
.btn:hover{
    box-shadow: 5px 5px 10px rgba(50, 120, 233, .5);
    transition: all 0.3s;
}

.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    padding: .5rem 1.5rem;
    border: 2px solid var(--blue);
    border-radius: 3rem;
    font-weight: 600;
    min-width: 100px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}
.outlined-btn:hover{
    background-color: var(--blue);
    box-shadow: 5px 5px 10px rgba(50, 120, 233, .5);
    transition: all 0.3s;
}